.root
    padding: 5px

.selector
    margin-left: 5px 
    margin-bottom: 2rem
    width: 20rem

.paper
    text-align: center
    color: #aaaaaa
    height: 35rem
    @media screen and (max-width: 600)
        height: 10rem
    margin: 0 1rem
    position: relative
